.address
    .column1
        p 
            | Hotline
            br
            | 0123.456.789
        p 
            | Email
            br
            | abc@hiien.com 
        h5 CHÍNH SÁCH BÁN HÀNG
        h5 HƯỚNG DẪN MUA HÀNG
    .column2
        h5 HÀ NỘI (9h - 22h)
        ul
            li 81 abc, def
            li 241 abc, def
            li 60 abc, def
            li 226 abc, def (gần ĐH Hà Nội)
            li 157 abc, def
    .column3
        h5 TP. HỒ CHÍ MINH (9h30 - 22h)
        ul
            li 92 efh, jqk
            li 459E efh, jqk
            li 708 efh, jqk
            li 87 efh, jqk
            li 232 efh, jqk
