intro.intro
    .container 
        .row.align-items-center.new-row-class
            .col-12
                .inner-menu 
                    ul 
                        li 
                            a(href="/intro/come") Về hiien 
                        li 
                            a(href="/intro/recruitment") Tuyển dụng  