extends ../../layouts/default.pug

block main
    .recruitment
        p 
            | Thông báo tuyển dụng tại Hiien - Shop Phụ Kiện Thời Trang
        p
            | Hiien - Cửa hàng phụ kiện thời trang đẳng cấp và phong cách, đang tìm kiếm những thành viên tài năng để gia nhập vào đội ngũ của chúng tôi. Nếu bạn đam mê thời trang, yêu thích công việc bán hàng và muốn làm việc trong một môi trường trẻ trung, sáng tạo, chúng tôi rất mong được gặp bạn!
        h2 Vị trí tuyển dụng:
        h3 Nhân viên bán hàng (Full-time/Part-time)
        ul
            li Tư vấn và bán hàng cho khách.
            li Trưng bày và sắp xếp sản phẩm.
            li Hỗ trợ các công việc khác trong cửa hàng.
        h3 Nhân viên quản lý kho
        ul
            li Quản lý, sắp xếp kho hàng.
            li Kiểm kê hàng hóa định kỳ.
            li Đảm bảo hàng hóa luôn đủ số lượng và chất lượng.
        h2 Yêu cầu:
        ul
            li Đam mê và hiểu biết về thời trang.
            li Kỹ năng giao tiếp tốt, thân thiện và nhiệt tình.
            li Trung thực, cẩn thận và có trách nhiệm trong công việc.
            li Có kinh nghiệm bán hàng là một lợi thế.
        h2 Quyền lợi:
        ul
            li Môi trường làm việc năng động, sáng tạo.
            li Lương cạnh tranh và thưởng hấp dẫn.
            li Cơ hội thăng tiến và phát triển bản thân.
            li Được đào tạo kỹ năng và kiến thức về thời trang.
        p
            | Nếu bạn cảm thấy mình phù hợp với một trong những vị trí trên, hãy gửi CV và đơn xin việc trực tiếp tại cửa hàng Hiien để biết thêm chi tiết. Chúng tôi rất mong chờ được hợp tác cùng bạn!
        p
            | Hiien - Nơi mỗi phụ kiện thời trang là một câu chuyện, và bạn sẽ là người giúp khách hàng kể câu chuyện đó.