extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

//- img(src="/images/bia2.jpg" alt="ảnh bìa")
block main
    //- img(src="/images/bia3.png" alt="ảnh bìa" class="img-bia")
    .section-products-featured.my-5 
        .container.my-3 
            .row 

                //- img(src="/images/bia2.jpg" alt="ảnh bìa")
                .col-12 
                    img(src="/images/bia8.jpg" alt="ảnh bìa" class="img-bia")
                    +box-head("Nổi bật")
        
                +product-grip(productsFeatured)

    .section-products-featured.my-5 
        .container.my-3 
            .row 
                .col-12 
                    +box-head("Mới")
            
                +product-grip(productsNew)
        
        